<div class="d-flex flex-column align-items-center">

  <!--      children-->
  <div *ngFor="let topicCreatorChildRowAndPage of topicCreatorChildRowAndPageList; let index = index">
    <hr>
    <app-connected-joke-topic-row
      [topicCreatorChildRowAndPage]="topicCreatorChildRowAndPage"
      [parentIndex]="index"
      (showChildrenOfChildRequest)="onShowChildrenOfChildRequest($event)"
      (removeSomeRowsRequest)="onRemoveSomeRowsRequest($event)">
    </app-connected-joke-topic-row>
  </div>
</div>

