<div class="card-body">
  <div class="d-flex flex-row justify-content-between">
    <h2 class="card-title mb-4"> {{ jokePresenter?.title }} </h2>
    <app-single-joke-assaigned-rate
      [rate]="jokePresenter?.rate">
    </app-single-joke-assaigned-rate>
  </div>
  <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">{{ jokePresenter?.content }}</pre>
  <div> Author: {{ jokePresenter?.author }} </div>
  <div>
    <span class="d-inline-block mr-1"> Structures:</span>
    <span class="d-inline-block mr-1 badge badge-primary badge-pill" data-toggle="tooltip" data-placement="top"
          title="{{structure?.description}}"
          *ngFor="let structure of jokePresenter.structurePresenterList">
          {{ structure?.name }}
          </span>
  </div>
  <div>
    <span class="d-inline-block mr-1"> Connecting Topic:</span>
    <span class="d-inline-block mr-4 badge badge-success badge-pill" data-toggle="tooltip" data-placement="top">
          {{ jokePresenter?.connectingTopic }} </span>
    <span class="d-inline-block mr-1"> Ostensible Topic:</span>
    <span class="d-inline-block mr-4 badge badge-success badge-pill" data-toggle="tooltip" data-placement="top">
          {{ jokePresenter?.ostensibleTopic }} </span>
    <span class="d-inline-block mr-1"> Comedy Topic:</span>
    <span class="d-inline-block mr-4 badge badge-success badge-pill" data-toggle="tooltip" data-placement="top">
          {{ jokePresenter?.comedyTopic }} </span>
  </div>
  <div>
    <span class="d-inline-block mr-1"> Categorizations:</span>
    <span class="d-inline-block mr-1 badge badge-success badge-pill" data-toggle="tooltip" data-placement="top"
          title="{{categorization}}"
          *ngFor="let categorization of jokePresenter.categorizationList">
          {{ categorization }}
          </span>
  </div>
  <div class="text-muted"> Creation Date: {{ jokePresenter?.dateCreated | date:'short' }} </div>
  <button class="btn btn-outline-primary mt-3 mr-3" (click)="goToJokeEdition()">Edit</button>
  <button class="btn btn-outline-primary mt-3 mr-3" (click)="showJokeDetails()">Details</button>
  <button class="btn btn-outline-primary mt-3 mr-3" (click)="showJokeRate()">Rate</button>
  <button class="btn btn-outline-danger mt-3" (click)="removeJoke(jokePresenter, $event)"> Delete</button>
  <div *ngIf="isDetailsButtonClicked" class="d-flex flex-column align-items-center p-4">
    <app-single-joke-details
      [jokePresenter]="jokePresenter"
      class="col-11">
    </app-single-joke-details>
  </div>
  <div *ngIf="isRateButtonClicked" class="d-flex flex-column align-items-center p-4">
    <app-single-joke-rate
      [jokeId]="jokePresenter?.id"
      (changeRateButtonStatusRequest)="onChangeRateButtonStatusRequest($event)">
    </app-single-joke-rate>
  </div>
</div>
