<div class="d-flex flex-column align-items-center">
  <div *ngFor="let topicGroupPresenter of topicGroupPresenterList; let i = index" class="card col-12">
    <div class="card-body" (click)="onTopicGroupClick(topicGroupPresenter)">
      <h5 class="card-title"> {{ topicGroupPresenter?.categorizationPresenter?.name }} </h5>
      <div class="d-flex flex-row align-items-center justify-content-center"
           *ngIf="topicGroupPresenter?.categorizationPresenter?.id === selectedTopicGroupPresenter?.categorizationPresenter?.id">
        <app-topic-group-block-creator
          [categoryName]="selectedTopicGroupPresenter?.categorizationPresenter?.connectingCategory"
          [topicName]="selectedTopicGroupPresenter?.connectingTopicItem?.text"
          [blockName]="'Connecting Topic'">
        </app-topic-group-block-creator>
        <fa-icon [icon]="faLongArrowAltRight" size="5x" class="m-3"></fa-icon>
        <div class="d-flex flex-column align-items-center">
          <label class="my-2"><strong>Questions</strong></label>
          <pre style="white-space: pre-line" class="questionSection d-flex align-items-center p-2">
          {{selectedTopicGroupPresenter?.categorizationPresenter?.questions}}</pre>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <fa-icon [icon]="faLongArrowAltRight" size="5x" class="fa-rotate-315 m-3"></fa-icon>
          <fa-icon [icon]="faLongArrowAltRight" size="5x" class="fa-rotate-45 m-3"></fa-icon>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <app-topic-group-block-creator
            [categoryName]="selectedTopicGroupPresenter?.categorizationPresenter?.ostensibleCategory"
            [topicName]="selectedTopicGroupPresenter?.ostensibleTopicItem?.text"
            [blockName]="'Ostensible Topic'">
          </app-topic-group-block-creator>
          <app-topic-group-block-creator
            [categoryName]="selectedTopicGroupPresenter?.categorizationPresenter?.comedyCategory"
            [topicName]="selectedTopicGroupPresenter?.comedyTopicItem?.text"
            [blockName]="'Comedy Topic'">
          </app-topic-group-block-creator>
        </div>
      </div>
    </div>
  </div>
  <app-joke-block-view
    [jokePresenter]="jokePresenter">
  </app-joke-block-view>
</div>
