<div class="d-flex flex-column align-items-center">
  <div *ngFor="let topicGroupPresenter of topicGroupPresenterList; let i = index" class="card">
    <div class="card-body">
      <h5 class="card-title"> {{ topicGroupPresenter?.categorizationPresenter?.name }} </h5>
    </div>
  </div>
  <ngb-pagination
    [(page)]="currentStructureIndex"
    [pageSize]="1"
    [collectionSize]="structureItemList?.length"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="changeCurrentStructure($event)"
    class="justify-content-center mr-4">
  </ngb-pagination>
  <h2> {{ structureItemList[currentStructureIndex - 1]?.text }} </h2>
  <div class="d-flex justify-content-center" *ngFor="let jokeBlockPresenter of jokeBlockPresenterList; let index = index">
    <div *ngIf="jokeBlockPresenter?.structureId === currentStructureItem?.id">
      <div *ngIf="index > 0" class="d-flex flex-column justify-content-center">
        <fa-icon [icon]="faLongArrowAltDown" size="5x" class="d-flex justify-content-center"></fa-icon>
      </div>
      <app-joke-block
        [jokeBlockPresenter]="jokeBlockPresenter">
      </app-joke-block>
    </div>
  </div>
</div>
