<div class="d-flex flex-column align-items-center">
  <ngb-pagination
    [(page)]="currentStructureIndex"
    [pageSize]="1"
    [collectionSize]="structureItemList?.length"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="changeCurrentStructure($event)"
    class="justify-content-center mr-4">
  </ngb-pagination>
  <h2> {{ structureItemList[currentStructureIndex - 1]?.text }} </h2>
  <div class="d-flex justify-content-center" *ngFor="let jokeBlock of jokeBlocks; let x = index">
    <div *ngIf="jokeBlock?.structureName === currentStructureItem?.text">
      <app-joke-block
        [jokeBlock]="jokeBlock">
      </app-joke-block>
    </div>
  </div>
</div>
