<p class="data-header">Edit {{ origin.name }}</p>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <!--    main-->
      <div *ngIf="!isOriginEditionDemanded; else originBlockCreator">
        <app-origin-block
          [origin]="origin"
          (isOriginEditionDemanded)="onOriginEditionRequest($event)">
        </app-origin-block>

      </div>
      <!--      children-->
      <div class="d-flex flex-row">
        <div *ngFor="let child of origin.children; let x = index">
          <app-connected-origin-block
            [connectedOrigin]="child"
            (removeOriginRelationRequest)="onRemoveOriginRelationRequest($event)">
          </app-connected-origin-block>
        </div>
      </div>
    </div>
  </div>

  <ng-template #originBlockCreator>
    <app-origin-block-creator
      [origin]="origin"
      (isOriginEditionDemanded)="onOriginEditionRequest($event)">
    </app-origin-block-creator>
  </ng-template>
</div>
