<p class="data-header">Edit {{ originCreator?.name }}</p>
<div class="container-fluid" style="width: 80%">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <!--    main-->
      <div *ngIf="!isOriginEditionDemanded; else originBlockCreator">
        <app-origin-block
          [originCreator] ="originCreator"
          (isOriginEditionDemanded)="onOriginEditionRequest($event)">
        </app-origin-block>
      </div>
      <!--      children-->
      <div *ngFor="let originCreatorChildrenWithParent of originCreatorFamily">
        <hr>
        <app-origin-child-creator-branch
          [originCreatorChildrenWithParent]="originCreatorChildrenWithParent"
          (setAsMainRequest)="onSetAsMainRequest($event)"
          (showChildrenOfChildRequest)="onshowChildrenOfChildRequest($event)">
        </app-origin-child-creator-branch>
      </div>
    </div>
  </div>

  <ng-template #originBlockCreator>
    <app-origin-block-creator
      [originCreator]="originCreator"
      (isOriginEditionDemanded)="onOriginEditionRequest($event)">
    </app-origin-block-creator>
  </ng-template>
</div>
