<p class="data-header">Edit {{ originCreator?.name }}</p>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <!--    main-->
      <div *ngIf="!isOriginEditionDemanded; else originBlockCreator">
        <app-origin-block
          [originCreator] ="originCreator"
          (isOriginEditionDemanded)="onOriginEditionRequest($event)">
        </app-origin-block>

      </div>
      <!--      children-->
      <div class="d-flex flex-row">
        <div *ngFor="let originCreatorChild of originCreator?.children; let x = index">
          <app-connected-origin-block
            [originCreatorChild]="originCreatorChild"
            (removeOriginRelationRequest)="onRemoveOriginRelationRequest($event)">
          </app-connected-origin-block>
        </div>
        <div *ngIf="!isChildOriginCreationDemanded; else childOriginBlockCreator"
             class="originBlock m-3 d-flex flex-column align-items-center justify-content-center">
          <fa-icon [icon]="faPlus" size="4x" (click)="onAddChildOriginDemand()" ></fa-icon>
        </div>
      </div>
    </div>
  </div>

  <ng-template #originBlockCreator>
    <app-origin-block-creator
      [originCreator]="originCreator"
      (isOriginEditionDemanded)="onOriginEditionRequest($event)">
    </app-origin-block-creator>
  </ng-template>

  <ng-template #childOriginBlockCreator>
    <app-child-origin-block-creator
      [parentId]="originCreator?.id"
      (isChildOriginCreationDemanded)="onChildOriginCreationRequest($event)">
    </app-child-origin-block-creator>
  </ng-template>
</div>
