<!--<app-header>-->
<!--  <p levels>jokes</p>-->
<!--  <div content>-->
<!--    <p>List of Jokes</p>-->
<!--  </div>-->
<!--</app-header>-->
<div class="container">
  <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Jokes</h1>
  <div *ngIf="jokes && jokes.length > 0; else noJokes">
    <div class="card p-3 mb-4" style="background: azure" *ngFor="let joke of jokes; let i = index">
      <div class="card-body">
        <h2 class="card-title"> {{ joke?.title }} </h2>
        <blockquote class="blockquote"> {{ joke?.content }} </blockquote>
        <div> Author: {{ getAuthorNameAndSurname(joke) }} </div>
        <span class="d-inline-block mr-1"> Structures:</span>
        <span class="d-inline-block mr-1 badge badge-primary badge-pill"
              *ngFor="let structure of joke.structures"> {{ structure?.name }} </span>
        <div class="text-muted"> Creation Date:: {{ joke?.dateCreated | date:'short' }} </div>
        <button class="btn btn-outline-primary mt-3 mr-3" (click)="goToJokeDetails(joke)"> Edit</button>
        <button class="btn btn-outline-danger mt-3" (click)="removeJoke(joke, $event)"> Delete</button>
      </div>
    </div>
    <ngb-pagination
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [collectionSize]="totalItems"
    (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>

  <ng-template #noJokes>
    <div class="no-jokes">
      <p>Currently no jokes in database</p>
    </div>
  </ng-template>


</div>
