<!--<app-header>-->
<!--  <p levels>jokes</p>-->
<!--  <div content>-->
<!--    <p>List of Jokes</p>-->
<!--  </div>-->
<!--</app-header>-->
<div class="container">
  <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Jokes</h1>
  <select [ngModel]="authorFilter" (ngModelChange)="filterJokesByAuthor($event)" name="authorFilter">
    <option value="-1">All</option>
    <option *ngFor="let author of authors" [ngValue]="author.id">
      {{author.name + ' ' + author.surname}}
    </option>
  </select>
  <div *ngIf="jokes && jokes.length > 0; else noJokes">
    <div class="card p-3 mb-4" style="background: azure" *ngFor="let joke of jokes; let i = index">
      <div class="card-body">
        <h2 class="card-title mb-4"> {{ joke?.title }} </h2>
        <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">{{ joke?.content }}</pre>
        <div> Author: {{ getAuthorNameAndSurname(joke) }} </div>
        <span class="d-inline-block mr-1"> Structures:</span>
        <span class="d-inline-block mr-1 badge badge-primary badge-pill"
              *ngFor="let structure of joke.structures"> {{ structure?.name }} </span>
        <div class="text-muted"> Creation Date:: {{ joke?.dateCreated | date:'short' }} </div>
        <button class="btn btn-outline-primary mt-3 mr-3" (click)="goToJokeDetails(joke)"> Edit</button>
        <button class="btn btn-outline-danger mt-3" (click)="removeJoke(joke, $event)"> Delete</button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
        class="mr-4">
      </ngb-pagination>
    <div class="form-group row">
      <span class="ml-4 col col-form-label">Page Size</span>
      <div class="col">
        <select (change)="updatePageSize($event.target.value)" class="form-control">
          <option selected="true">5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
    </div>
  </div>

  <ng-template #noJokes>
    <div class="no-jokes">
      <p>Currently no jokes in database</p>
    </div>
  </ng-template>


</div>
