<div class="d-flex flex-column align-items-center">
  <p class="data-header">Add a new categorization</p>
  <div class="container">
    <form [formGroup]="categorizationForm">
      <div class="row form-group">
        <label>Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="name">
        <p *ngIf="!categorizationForm.get('name').valid && categorizationForm.get('name').dirty" class="error">This field is
          required!</p>
      </div>
      <div class="row form-group">
        <label>Connecting Category</label>
        <select class="form-control" formControlName="connectingCategory">
          <option value="null">--Select Connecting Category--</option>
          <option *ngFor="let connectingCategory of topicItemList" [ngValue]="connectingCategory">
            {{ connectingCategory.text }}
          </option>
        </select>
      </div>
      <div class="row form-group">
        <label>Questions</label>
        <textarea formControlName="questions" type="text" placeholder="questions" class="form-control"
                  rows="6"></textarea>
      </div>
      <div class="row form-group">
        <label>Ostensible Category</label>
        <select class="form-control" formControlName="ostensibleCategory">
          <option value="null">--Select Ostensible Category--</option>
          <option *ngFor="let ostensibleCategory of topicItemList" [ngValue]="ostensibleCategory">
            {{ ostensibleCategory.text }}
          </option>
        </select>
      </div>
      <div class="row form-group">
        <label>Comedy Category</label>
        <select class="form-control" formControlName="comedyCategory">
          <option value="null">--Select Comedy Category--</option>
          <option *ngFor="let comedyCategory of topicItemList" [ngValue]="comedyCategory">
            {{ comedyCategory.text }}
          </option>
        </select>
      </div>
      <button [disabled]="categorizationForm.invalid" (click)="addCategorization()" type="submit"
              class="btn btn-success float-right mx-2">Add Categorization</button>
      <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
      <button (click)="categorizationForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
    </form>
  </div>
</div>
