<div [ngSwitch]="blankBlock.direction">
    <div *ngSwitchCase="directionType.UP">
        <div class="blockSize d-flex flex-column justify-content-center">
            <fa-icon [icon]="faArrowUp" size="10x" class="d-flex justify-content-center">
            </fa-icon>
        </div>
    </div>

    <div *ngSwitchCase="directionType.RIGHT">
        <div class="blockSize d-flex flex-column justify-content-center">
            <fa-icon [icon]="faArrowRight" size="10x" class="d-flex justify-content-center">
            </fa-icon>
        </div>
    </div>

    <div *ngSwitchCase="directionType.DOWN">
        <div class="blockSize d-flex flex-column justify-content-center">
            <fa-icon [icon]="faArrowDown" size="10x" class="d-flex justify-content-center">
            </fa-icon>
        </div>
    </div>

    <div *ngSwitchCase="directionType.LEFT">
        <div class="blockSize d-flex flex-column justify-content-center">
            <fa-icon [icon]="faArrowLeft" size="10x" class="d-flex justify-content-center">
            </fa-icon>
        </div>
    </div>

    <div *ngSwitchCase="directionType.NONE">
        <div class="blockSize"></div>
    </div>
</div>
