<div class="container">
  <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Authors</h1>
  <div *ngIf="authorPresenterList && authorPresenterList.length > 0; else noAuthors" class="table table-striped">
    <div *ngFor="let authorPresenter of authorPresenterList; let i = index">
      <app-single-author
        [authorPresenter]="authorPresenter"
        (removedAuthor)="onRemovedAuthor($event)">
      </app-single-author>
    </div>
  </div>
  <ng-template #noAuthors>
    <div class="no-Authors">
      <p>Currently no authors in database</p>
    </div>
  </ng-template>
</div>
