<app-header>
  <p levels>Authors</p>
  <div content>
    <p>List of Authors</p>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="authors && authors.length > 0; else noAuthors" class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Description</th>
          <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let author of authors; let i = index" class="row-structure" (click)="goToAuthorDetails(author)">
          <td> {{ author?.name }} </td>
          <td> {{ author?.surname }} </td>
          <td> {{ author?.description }} </td>
          <td>{{ author?.dateCreated | date:'short'}} </td>
          <td (click)="removeAuthor(author, $event)"> ( X ) </td>
        </tr>
        </tbody>
      </table>
      <ng-template #noAuthors>
        <div class="no-Authors">
          <p>Currently no authors in database</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
