<p class="data-header">Add a new origin</p>
<div class="data-container">
  <form [formGroup]="originForm">
    <div class="row form-group">
      <label>Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="name">
      <p *ngIf="!originForm.get('name').valid && originForm.get('name').dirty" class="error">This field is required!</p>
    </div>
    <div class="row form-group">
      <label>Connected origins</label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="originForm.invalid" (click)="addOrigin()" type="submit" class="btn btn-success float-right mx-2">
          Add Origin</button>
        <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
        <button (click)="originForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
      </div>
    </div>
  </form>

  <!--  <pre> {{ jokeForm.value | json }} </pre>-->
  <!--  <pre> walidacja title: {{ jokeForm.get('title').valid | json }} </pre>-->
  <!--  <pre> walidacja contentu: {{ jokeForm.get('content').valid | json }} </pre>-->
</div>
