<p class="data-header" xmlns="http://www.w3.org/1999/html">Add a new origin</p>
<div class="data-container">
  <form [formGroup]="originForm">
    <div class="row form-group">
      <label>Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="name">
      <p *ngIf="!originForm.get('name').valid && originForm.get('name').dirty" class="error">This field is required!</p>
    </div>
    <div>
      <label class="row">Connected origins</label>
      <div formArrayName="connectedOrigins" *ngFor="let connectedOrigin of originForm.get('connectedOrigins')['controls']; let i = index" class="d-flex flex-row py-2">
        <div *ngIf="i < connectedOrigins?.length - 1; else addConnectedOriginForm">
          <fa-icon [icon]="faMinusCircle" (click)="removeConnectedOrigin(i)" size="2x" class="d-flex justify-content-center mx-3"></fa-icon>
        </div>
        <div [formGroupName]="i">
          <input formControlName="name" placeholder="connected origin name" type="text" list="origins" class="d-flex justify-content-center">
        </div>
        <datalist id="origins">
          <option *ngFor="let origin of origins" [ngValue]="origin">
            {{ origin.name }}
          </option>
        </datalist>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="originForm.invalid" (click)="saveOrigin()" type="submit" class="btn btn-success float-right mx-2">
          Add Origin</button>
        <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
        <button (click)="originForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
      </div>
    </div>
  </form>

  <!--  <pre> {{ jokeForm.value | json }} </pre>-->
  <!--  <pre> walidacja title: {{ jokeForm.get('title').valid | json }} </pre>-->
  <!--  <pre> walidacja contentu: {{ jokeForm.get('content').valid | json }} </pre>-->
</div>

<ng-template #addConnectedOriginForm>
  <fa-icon [icon]="faPlusCircle" (click)="addConnectedOrigin()" size="2x" class="d-flex justify-content-center mx-3"></fa-icon>
</ng-template>
