<div class="card-body">
  <div class="d-flex flex-row">
    <div class="col-9">
      <div class="card-title mb-2">
        <div class="d-flex flex-row">
          <h5 class="mr-4"> {{ topicPresenter?.name }} </h5>
          <div class="text-muted"> {{ topicPresenter?.dateCreated | date:'short'}} </div>
        </div>
      </div>
      <div>
        <span class="d-inline-block mr-1"> Connected Topics: </span>
        <span class="d-inline-block mr-1 badge badge-primary"
              title="{{connectedTopicName}}"
              *ngFor="let connectedTopicName of topicPresenter?.children">
                    {{ connectedTopicName }}
        </span>
      </div>
    </div>
    <div>
      <button [ngClass]="topicPresenter?.category === true ? 'btn-primary' : 'btn-outline-primary'" class="btn mr-3"
              (click)="changeCategoryStatus()">Category
      </button>
      <button class="btn btn-outline-primary mr-3" (click)="goToTopicEdition(topicPresenter)">Edit</button>
      <button class="btn btn-outline-danger" (click)="removeTopic(topicPresenter, $event)">Delete</button>
    </div>
  </div>
  <div *ngIf="topicPresenter?.category === true">
    <hr>
    <div *ngIf="isQuestionManagementButtonClicked === false" class="d-flex flex-row">
      <div class="col-9">
        <span class="d-inline-block mr-1"> Questions: </span>
        <span class="d-inline-block mr-1 badge badge-success"
              title="{{question}}"
              *ngFor="let question of topicPresenter?.questions">
                    {{ question }}
        </span>
      </div>
      <div>
        <button class="btn btn-outline-primary" (click)="goToQuestionManagement(topicPresenter)">Manage questions</button>
      </div>
    </div>

    <div *ngIf="isQuestionManagementButtonClicked === true" class="d-flex flex-row">
      <div class="col-9">
        <span class="d-inline-block mr-1"> Questions: </span>
        <span class="d-inline-block mr-1 badge badge-success"
              title="{{question}}"
              (click)="open(content)"
              *ngFor="let question of topicPresenter?.questions">
                    {{ question }}
        </span>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
        </ng-template>
      </div>
      <form [formGroup]="questionForm">
        <div class="input-group mb-3">
          <input formControlName="question" type="text" class="form-control" placeholder="New question">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" [disabled]="questionForm.invalid"
                    (click)="addQuestion()" type="submit">Add
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
