<app-header>
  <p levels>structures / {{ structure.name }}</p>
  <div content>
    <p>structure details</p>
  </div>
</app-header>

<p class="data-header">Edit {{ structure.name }}</p>
<div class="data-container">
  <form [formGroup]="structureForm">
    <div class="row form-group">
      <label>Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="name">
      <p *ngIf="!structureForm.get('name').valid && structureForm.get('name').dirty" class="error">This field is
        required!</p>
    </div>
    <div class="row form-group">
      <label>Description</label>
      <textarea formControlName="description" type="text" placeholder="description"
                class="form-control"></textarea>
      <p *ngIf="!structureForm.get('description').valid && structureForm.get('description').dirty" class="error">
        This field must contain more than 3 characters!</p>
    </div>

    <div class="container">
      <div class="d-flex justify-content-center" *ngFor="let block of blocksToUpdate; let x = index">
        <div [ngSwitch]="block.blockType">
          <div *ngSwitchCase="blockType.STANDARD_BLOCK">
            <app-standard-block-creator
              #standardBlockRef
              [standardBlock]="block"
              (blockToDelete)="onBlockDeleteRequest($event)">
            </app-standard-block-creator>
          </div>

          <div *ngSwitchCase="blockType.ACTION_BLOCK">
            <app-blank-block
              [inputBlocks]="blocksToUpdate"
              [actionBlock]="block"
              (outputBlocks)="onChangedBlocks($event)">
            </app-blank-block>
          </div>

          <div *ngSwitchCase="blockType.ARROW_BLOCK">
            <app-arrow-block
              [arrowBlock]="block">
            </app-arrow-block>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="structureForm.invalid" (click)="updateStructure()" type="submit"
                class="btn btn-success float-right mx-2">Update Structure
        </button>
        <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
        <button (click)="structureForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
      </div>
    </div>
  </form>

  <!--  <pre> {{ jokeForm.value | json }} </pre>-->
  <!--  <pre> walidacja title: {{ jokeForm.get('title').valid | json }} </pre>-->
  <!--  <pre> walidacja contentu: {{ jokeForm.get('content').valid | json }} </pre>-->
</div>
