<p class="data-header"> </p>
<div class="container">
  <h1 class="text-center text-dark font-weight-bolder m-5">Questions about the category topic:</h1>
  <div *ngIf="questionList && questionList.length > 0; else noQuestions" class="table table-striped">
    <div *ngFor="let question of questionList; let i = index">
      <app-single-question
        [question]="question">
      </app-single-question>
    </div>
  </div>
  <ng-template #noQuestions>
    <div class="no-Authors">
      <p>Currently no questions in database</p>
    </div>
  </ng-template>
</div>
