<div class="card p-3 mb-4" style="background: #ffe7ce">
  <div class="card-body">
    <h2 class="card-title mb-4"> {{ categorizationPresenter?.name }} </h2>
    <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">
      Connecting Category: {{ categorizationPresenter?.connectingCategory }}</pre>
    <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">
      Questions: {{ categorizationPresenter?.questions }}</pre>
    <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">
      Ostensible Category: {{ categorizationPresenter?.ostensibleCategory }}</pre>
    <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">
      Comedy Category: {{ categorizationPresenter?.comedyCategory }}</pre>
    <button class="btn btn-outline-primary mt-3 mr-3" (click)="goToCategorizationEdition()">Edit</button>
    <button class="btn btn-outline-danger mt-3" (click)="removeCategorization(categorizationPresenter, $event)"> Delete</button>
  </div>
</div>
