<p class="data-header">Add a new joke</p>
<div class="data-container">
  <form [formGroup]="jokeForm">
    <div class="row form-group">
      <label>Title</label>
      <input  formControlName="title" type="text" class="form-control" placeholder="title">
      <p *ngIf="!jokeForm.get('title').valid && jokeForm.get('title').dirty" class="error">This field is required!</p>
    </div>
    <div class="row form-group">
      <label>Content</label>
      <textarea formControlName="content" type="text" placeholder="content" class="form-control" rows="6"></textarea>
      <p *ngIf="!jokeForm.get('content').valid && jokeForm.get('content').dirty" class="error">
        This field must contain more than 3 characters!</p>
    </div>
    <div>
      <label class="row">Structure</label>
      <ng-multiselect-dropdown class="row mb-2"
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings"
        [data]="getDropdownList(allStructures)"
        (onSelect)="onStructureSelect($event)"
        (onDeSelect)="onStructureDeselect($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="row form-group">
      <label>Author</label>
      <select class="form-control" formControlName="author" data-toggle="tooltip"
              data-placement="right" title="Select Author Branch">
        <option value="null">--Select Author--</option>
        <option *ngFor="let author of authors" [ngValue]="author">
          {{author.name + ' ' + author.surname}}
        </option>
      </select>
    </div>
    <div class="row form-group">
      <label>Origin</label>
      <select class="form-control" formControlName="origin" data-toggle="tooltip"
              data-placement="right" title="Select Origin Branch">
        <option value="null">--Select Origin--</option>
        <option *ngFor="let origin of origins" [ngValue]="origin">
          {{ origin.name }}
        </option>
      </select>
    </div>
    <div>
      <h2> {{ selectedStructuresByUser[0]?.name }} </h2>
      <div class="d-flex justify-content-center" *ngFor="let block of blocks; let x = index">
        <div [ngSwitch]="block?.blockType">
          <div *ngSwitchCase="blockType.JOKE_BLOCK">
            jokeBlock
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="jokeForm.invalid" (click)="addJoke()" type="submit" class="btn btn-success float-right mx-2">
          Add Joke</button>
        <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
        <button (click)="jokeForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
      </div>
    </div>
  </form>

  <!--  <pre> {{ jokeForm.value | json }} </pre>-->
  <!--  <pre> walidacja title: {{ jokeForm.get('title').valid | json }} </pre>-->
  <!--  <pre> walidacja contentu: {{ jokeForm.get('content').valid | json }} </pre>-->
</div>
