<p class="data-header">Add a new joke</p>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-fast-creation" role="tab" aria-controls="nav-home" aria-selected="true">Fast Creation</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-creation-by-factory" role="tab" aria-controls="nav-profile" aria-selected="false">Creation by Factory</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-fast-creation" role="tabpanel" aria-labelledby="nav-home-tab">
    <app-fast-creation></app-fast-creation>
  </div>
  <div class="tab-pane fade" id="nav-creation-by-factory" role="tabpanel" aria-labelledby="nav-profile-tab">
    <app-creation-by-factory></app-creation-by-factory>
  </div>
</div>
