<div class="container">
  <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Topics</h1>
  <app-topic-search
    (searchRequest)="onSearchRequest($event)">
  </app-topic-search>
  <div *ngIf="topicPresenterList && topicPresenterList.length > 0; else noTopics" class="my-5">
    <div *ngFor="let topicPresenter of topicPresenterList; let i = index" class="card">
      <app-single-topic
        [topicPresenter]="topicPresenter"
        (loadTopicPresenterList)="loadTopicPresenterList()">
      </app-single-topic>
    </div>
  </div>
  <app-topic-pagination
    [topicPagination]="topicPagination"
    (changedPagination)="onUpdatePaginationRequest($event)">
  </app-topic-pagination>
  <ng-template #noTopics>
    <div class="no-Topics">
      <p>Currently no topics in database</p>
    </div>
  </ng-template>
</div>
