<div class="d-flex flex-column align-items-center">
  <ngb-pagination
    [(page)]="currentStructureIndex"
    [pageSize]="1"
    [collectionSize]="selectedStructures?.length"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="changeCurrentStructure($event)"
    class="justify-content-center mr-4">
  </ngb-pagination>
  <h2> {{ selectedStructures[currentStructureIndex - 1] }} </h2>
  <div *ngFor="let jokeBlockDto of jokeBlockDtoList; let x = index">
    <div *ngIf="jokeBlockDto?.structureName === nameOfCurrentStructure">
      <app-joke-block-creator
        #jokeBlocksEditionRef
        [jokeBlockDto]="jokeBlockDto">
      </app-joke-block-creator>
    </div>
  </div>
</div>
