<div class="d-flex flex-column align-items-center">
  <div class="col-8 mt-4">
    <label class="row">Categorization</label>
    <select class="form-control" data-placement="right" title="Select Category"
            (change)="onCategorySelect($event.target.value)">
      <option [value]=0>All</option>
      <option *ngFor="let category of categoryList" [value]="category.id">
        {{category.text}}
      </option>
    </select>
  </div>

  <app-topic-selection-panel
    [topicCreator]="selectedCategory">
  </app-topic-selection-panel>
</div>
