<div>
  <div *ngIf="jokeBlockDto.position !== 0" class="d-flex flex-column justify-content-center">
    <fa-icon [icon]="faLongArrowAltDown" size="5x" class="d-flex justify-content-center"></fa-icon>
  </div>
  <div class="p-2 jokeBlock">
    <div class="d-flex flex-row justify-content-center">
      <h3>{{jokeBlockDto?.title}}</h3>
    </div>
    <div class="d-flex flex-row mr-2">
      <div class="d-flex flex-column col-6">
        <form [formGroup]="jokeBlockForm">
          <textarea formControlName="jokeSnippet" type="text" class="form-control" placeholder="Joke snippet"
                    rows="6"></textarea>
        </form>
      </div>
      <div class="d-flex flex-column justify-content-center ml-2">
        <pre
          style="white-space: pre-wrap; font-size: larger; font-family: serif">{{jokeBlockDto?.description}}</pre>
      </div>
    </div>
  </div>
</div>
