<div class="sidebar fixed-top">
  <img src="assets/logo.png" class="logo" alt="logo">
  <nav>
    <button class="navbar-toggler big_button" type="button" data-toggle="collapse" data-target="#sidebarJokes">
      Jokes
    </button>
    <div class="collapse navbar-collapse" id="sidebarJokes">
      <button class="small_button" [routerLink]="['/jokes']" [routerLinkActive]="'active'">List</button>
      <button class="small_button" [routerLink]="['/joke-creation']" [routerLinkActive]="'active'">Create</button>
    </div>

    <button class="navbar-toggler big_button" type="button" data-toggle="collapse" data-target="#sidebarStructures">
      Structures
    </button>
    <div class="collapse navbar-collapse" id="sidebarStructures">
      <button class="small_button" [routerLink]="['/structures']" [routerLinkActive]="'active'">List</button>
      <button class="small_button" [routerLink]="['/structure-creation']" [routerLinkActive]="'active'">Create</button>
    </div>

    <button class="navbar-toggler big_button" type="button" data-toggle="collapse" data-target="#sidebarAuthors">
      Authors
    </button>
    <div class="collapse navbar-collapse" id="sidebarAuthors">
      <button class="small_button" [routerLink]="['/authors']" [routerLinkActive]="'active'">List</button>
      <button class="small_button" [routerLink]="['/author-creation']" [routerLinkActive]="'active'">Create</button>
    </div>

    <button class="navbar-toggler big_button" type="button" data-toggle="collapse" data-target="#sidebarTopics">
      Topics
    </button>
    <div class="collapse navbar-collapse" id="sidebarTopics">
      <button class="small_button" [routerLink]="['/topics']" [routerLinkActive]="'active'">List</button>
      <button class="small_button" [routerLink]="['/topic-creation']" [routerLinkActive]="'active'">Create</button>
    </div>
  </nav>
</div>
