<div *ngIf="topicPagination" class="d-flex justify-content-center mb-5">
  <ngb-pagination
    [(page)]="topicPagination.currentPage"
    [pageSize]="topicPagination.pageSize"
    [collectionSize]="topicPagination.totalItems"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="loadPage($event)"
    class="mr-4">
  </ngb-pagination>
  <div class="form-group row">
    <span class="ml-4 col col-form-label">Page Size</span>
    <div class="col">
      <select (change)="updatePageSize($event.target.value)" class="form-control">
        <option selected="true">20</option>
        <option>40</option>
        <option>100</option>
        <option>200</option>
      </select>
    </div>
  </div>
</div>
