<div class="d-flex flex-row flex-wrap">
  <div *ngFor="let topicCreatorChild of topicCreatorChildrenWithParent?.topicCreatorChildren">
    <app-connected-joke-topic-block
      [topicCreatorChild]="topicCreatorChild"
      [chosenTopicCreatorChildId]="chosenTopicCreatorChildId"
      (showChildrenOfChildRequest)="onShowChildrenOfChildRequest($event)"
      (setAsConnectingTopicRequest)="onSetAsConnectingTopicRequest($event)"
      (setAsOstensibleTopicRequest)="onSetAsOstensibleTopicRequest($event)"
      (setAsComedyTopicRequest)="onSetAsComedyTopicRequest($event)">
    </app-connected-joke-topic-block>
  </div>
  <div *ngIf="!isChildTopicCreationDemanded; else childTopicBlockCreator"
       class="jokeTopicBlock m-3 d-flex flex-column align-items-center justify-content-center">
    <fa-icon [icon]="faPlus" size="4x" (click)="onShowTopicCreationFormRequest()"></fa-icon>
  </div>
</div>

<ng-template #childTopicBlockCreator>
  <app-child-topic-block-creator
    [parentId]="topicCreatorChildrenWithParent.parentId"
    (isChildTopicCreationDemanded)="onChildTopicCreationRequest($event)">
  </app-child-topic-block-creator>
</ng-template>
