<div class="d-flex flex-column align-items-center">
  <div class="col-8 mt-4">
    <label class="row">Categorization</label>
    <ng-multiselect-dropdown class="row mb-2"
                             [placeholder]="'custom placeholder'"
                             [settings]="dropdownSettings"
                             [data]="getDropdownList(categorizationItemList)"
                             (onSelect)="onCategorizationSelect($event)"
                             (onDeSelect)="onCategorizationDeselect($event)">
    </ng-multiselect-dropdown>
  </div>

  <!--  list of topic groups-->
  <div *ngFor="let topicGroupCreator of topicGroupCreatorList; let i = index" class="card col-7">
    <div class="card-body" (click)="onTopicGroupClick(topicGroupCreator)">
      <h5 class="card-title"> {{ topicGroupCreator?.categorization?.name }} </h5>
      <div class="d-flex flex-row align-items-center justify-content-center"
           *ngIf="topicGroupCreator?.categorization?.id === selectedTopicGroupCreator?.categorization?.id">
        <app-topic-group-block-creator
          [categoryName]="selectedTopicGroupCreator?.categorization?.connectingCategory?.name"
          [topicName]="selectedTopicGroupCreator?.connectingTopic?.text"
          [blockName]="'Connecting Topic'">
        </app-topic-group-block-creator>
        <fa-icon [icon]="faLongArrowAltRight" size="5x" class="m-3"></fa-icon>
        <div class="d-flex flex-column align-items-center">
          <label class="my-2"><strong>Questions</strong></label>
          <pre style="white-space: pre-line" class="questionSection d-flex align-items-center p-2">
          {{selectedTopicGroupCreator?.categorization?.questions}}</pre>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <fa-icon [icon]="faLongArrowAltRight" size="5x" class="fa-rotate-315 m-3"></fa-icon>
          <fa-icon [icon]="faLongArrowAltRight" size="5x" class="fa-rotate-45 m-3"></fa-icon>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <app-topic-group-block-creator
            [categoryName]="selectedTopicGroupCreator?.categorization?.ostensibleCategory?.name"
            [topicName]="selectedTopicGroupCreator?.ostensibleTopic?.text"
            [blockName]="'Ostensible Topic'">
          </app-topic-group-block-creator>
          <app-topic-group-block-creator
            [categoryName]="selectedTopicGroupCreator?.categorization?.comedyCategory?.name"
            [topicName]="selectedTopicGroupCreator?.comedyTopic?.text"
            [blockName]="'Comedy Topic'">
          </app-topic-group-block-creator>
        </div>
      </div>
    </div>
  </div>

  <!--  topic selection panel-->
  <!--    main-->
  <div *ngIf="selectedTopicGroupCreator !== undefined">
    <app-connecting-category-block
      [topicCreator]="selectedTopicGroupCreator?.categorization?.connectingCategory">
    </app-connecting-category-block>
  </div>
  <!--      children-->
  <div *ngFor="let topicCreatorChildrenWithParent of topicCreatorRow; let index = index">
    <hr>
    <app-connected-joke-topic-row
      [topicCreatorChildrenWithParent]="topicCreatorChildrenWithParent"
      [parentIndex]="index"
      (showChildrenOfChildRequest)="onShowChildrenOfChildRequest($event)"
      (removeSomeRowsRequest)="onRemoveSomeRowsRequest($event)"
      (setAsConnectingTopicRequest)="onSetAsConnectingTopicRequest($event)"
      (setAsOstensibleTopicRequest)="onSetAsOstensibleTopicRequest($event)"
      (setAsComedyTopicRequest)="onSetAsComedyTopicRequest($event)"
    >
    </app-connected-joke-topic-row>
  </div>

</div>
