<div class="container">
    <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Structures</h1>

    <div *ngIf="structurePresenterList && structurePresenterList.length > 0; else noStructures">
        <div *ngFor="let structure of structurePresenterList; let i = index">
            <app-single-structure
              [structurePresenter]="structure"
                (removedStructure)="onRemovedStructure($event)">
            </app-single-structure>
        </div>
    </div>

    <ng-template #noStructures>
        <div class="no-data">
            <p>Currently no structures in database</p>
        </div>
    </ng-template>
</div>
