<div class="container">
    <h1 class="text-center display-2 text-dark font-weight-bolder m-5">List of Structures</h1>

    <div *ngIf="structures && structures.length > 0; else noStructures">
        <div *ngFor="let structure of structures; let i = index">
            <app-single-structure
                [structure]="structure"
                (removedStructure)="onRemovedStructure($event)">
            </app-single-structure>
        </div>
    </div>

    <ng-template #noStructures>
        <div class="no-Structures">
            <p>Currently no structures in database</p>
        </div>
    </ng-template>
</div>
