<app-header>
  <p levels>structures</p>
  <div content>
    <p>List of Structures</p>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="structures && structures.length > 0; else noStructures" class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let structure of structures; let i = index" class="row-structure" (click)="goToStructureDetails(structure)">
          <td> {{ structure?.name }} </td>
          <td> {{ structure?.description }} </td>
          <td>{{ structure?.dateCreated | date:'short'}} </td>
          <td (click)="removeStructure(structure, $event)"> ( X ) </td>
        </tr>
        </tbody>
      </table>
      <ng-template #noStructures>
        <div class="no-Structures">
          <p>Currently no structures in database</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
