.fa-meh-rolling-eyes {
  color: red;
}

.fa-meh {
  color: orange;
}

.fa-smile {
  color: yellow;
}

.fa-grin-beam {
  color: lightgreen;
}

.fa-grin-tears {
  color: limegreen;
}

.fa-grin-squint-tears {
  color: green;
}
