.no-data{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: blue;
  padding: 20px;
  background: white;
}

.data-header {
  color: black;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px;
}

.data-container {
  padding: 15px;
  background: white;
  margin: 15px;
}

.error{
  background: red;
  color: white;
  font-size: 11px;
  padding: 4px 8px;
}

.cs-table{
  background: white;
}
