<p class="data-header">Add a new structure</p>
<div class="data-container">
  <form [formGroup]="structureForm">
    <div class="row form-group">
      <label>Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="name">
      <p *ngIf="!structureForm.get('name').valid && structureForm.get('name').dirty" class="error">This field is
        required!</p>
    </div>
    <div class="row form-group">
      <label>Description</label>
      <textarea formControlName="description" type="text" placeholder="description"
                class="form-control" rows="6"></textarea>
      <p *ngIf="!structureForm.get('description').valid && structureForm.get('description').dirty" class="error">
        This field must contain more than 3 characters!</p>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center" *ngFor="let block of blocks; let x = index">
        <div [ngSwitch]="block.blockType">
          <div *ngSwitchCase="blockType.STRUCTURE_STANDARD_BLOCK">
            <app-standard-block-creator
              #standardBlockRef
              [standardBlock]="block"
              (blockToDelete)="onBlockDeleteRequest($event)">
            </app-standard-block-creator>
          </div>

          <div *ngSwitchCase="blockType.ACTION_BLOCK">
            <app-blank-block
              [inputBlocks]="blocks"
              [actionBlock]="block"
              (outputBlocks)="onChangedBlocks($event)">
            </app-blank-block>
          </div>

          <div *ngSwitchCase="blockType.ARROW_BLOCK">
            <app-arrow-block
              [arrowBlock]="block">
            </app-arrow-block>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="structureForm.invalid" (click)="addStructure()" type="submit"
                class="btn btn-success float-right mx-2">Add Structure</button>
        <button (click)="onCancel()" class="btn btn-primary float-right mx-2">Cancel</button>
        <button (click)="structureForm.reset()" type="submit" class="btn btn-primary float-right mx-2">Reset</button>
      </div>
    </div>
  </form>
</div>
