<p class="data-header">Add a new structure</p>
<div class="data-container">
    <form [formGroup]="structureForm">
        <div class="row form-group">
            <label>Name</label>
            <input formControlName="name" type="text" class="form-control" placeholder="name">
            <p *ngIf="!structureForm.get('name').valid && structureForm.get('name').dirty" class="error">This field is
                required!</p>
        </div>
        <div class="row form-group">
            <label>Description</label>
            <textarea formControlName="description" type="text" placeholder="description"
                      class="form-control"></textarea>
            <p *ngIf="!structureForm.get('description').valid && structureForm.get('description').dirty" class="error">
                This field must contain more than 3 characters!</p>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center" *ngFor="let rows of blocks; let y = index">
                <div *ngFor="let block of rows; let x = index">
                    <div [ngSwitch]="block.constructor.name">
                        <div *ngSwitchCase="blockType.STANDARD_BLOCK">
                            <app-standard-block
                                    [inputBlocks]="blocks"
                                    [standardBlock]="castToStandardBlock(block)"
                                    [y]="y"
                                    [x]="x"
                                    (outputBlocks)="onChangedBlocks($event)">
                            </app-standard-block>
                        </div>

                        <div *ngSwitchCase="blockType.BLANK_BLOCK">
                            <app-blank-block
                                    [inputBlocks]="blocks"
                                    [blankBlock]="castToBlankBlock(block)"
                                    [y]="y"
                                    [x]="x"
                                    (outputBlocks)="onChangedBlocks($event)">
                            </app-blank-block>
                        </div>

                        <div *ngSwitchCase="blockType.ARROW_BLOCK">
                            <app-arrow-block
                                    [arrowBlock]="castToArrowBlock(block)">
                            </app-arrow-block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="structureForm.invalid" (click)="addStructure()" type="submit"
                        class="btn btn-primary float-right">Add Structure
                </button>
                <button (click)="structureForm.reset()" type="submit" class="btn btn-default float-right">Reset</button>
            </div>
        </div>

    </form>


    <ng-template #blankBlock>

    </ng-template>
</div>
