.arrow {
    cursor: pointer;
    color: white;
    padding: 10px;
}

.blockWithContent{
    background: lightblue;
}

.contentOfBlock{
    width: 200px;
    height: 200px;
    background: aliceblue;
}

.blockSize{
    width: 340px;
    height: 340px;
}

.blankBlock{
    background: none;
}
