<div [ngClass]="{'selected': topicCreatorChild.id == chosenTopicCreatorChildId}"
     class="jokeTopicBlock d-flex flex-column justify-content-between m-3">
  <div class="d-flex flex-row justify-content-end" style="background: darkseagreen ">
    <fa-icon [icon]="faWindowClose" (click)="deleteConnectionRequest()" size="2x">
    </fa-icon>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <pre style="white-space: pre-wrap; font-size: larger; font-family: serif">{{topicCreatorChild?.name}}</pre>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <button class="btn-sm btn-outline-warning">
      <fa-icon [icon]="faGripHorizontal" size="2x" (click)="onShowChildrenOfChildRequest()"></fa-icon>
    </button>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn-sm btn-outline-warning" id="setAs" ngbDropdownToggle>
            <fa-icon [icon]="faCrosshairs" size="2x"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="setAs">
            <button ngbDropdownItem (click)="onSetAsConnectingTopicRequest()">Connecting Topic</button>
            <button ngbDropdownItem (click)="onSetAsOstensibleTopicRequest()">Ostensible Topic</button>
            <button ngbDropdownItem (click)="onSetAsComedyTopicRequest()">Comedy Topic</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
